brotlipy==0.7.0
certifi==2022.12.7
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1613413892199/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1610093613037/work
conda==4.10.1
conda-package-handling @ file:///Users/runner/miniforge3/conda-bld/conda-package-handling_1618231472205/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1616851523607/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1610094866944/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1610291470465/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
ruamel-yaml-conda @ file:///Users/runner/miniforge3/conda-bld/ruamel_yaml_1611943399135/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1617680194207/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1615828766818/work
